parameters:
	level: 8
	paths:
		- simple-sql-query-analyzer.php
		- includes/
	ignoreErrors:
		- message: '#Constant DB_NAME not found#'

includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

